
$color-primary: #00897B;
$color-text: #FBC02D;

%header{
  display: flex;
  justify-content: center;
  text-align: center;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: $color-text;
    background-size: cover;
    header{
        background-color: $color-primary; 
    }
    footer{
      background-color: $color-primary; 

    }
}

header {
  @extend %header;
  width: 100%;
  height: 250px;
  padding-bottom: 50px;
}
h1{
    font-size: 110px;
    }
.menu{
 @extend %header;
 margin-top: 100px;
 margin-bottom: 50px;
}
img {
  margin: 40px;
  width: 200px;
  height: 250px;
  filter: drop-shadow(0 0 0.75rem lightgrey);
  transform: scale(1);
  transition: transform 500ms;

&:hover{
  transform: scale(1.1);
  opacity: .4;
}
} 
.lien{
    background-color: $color-primary;
    color:$color-text;
    text-decoration: none;
}
.button {
    @extend %header;
}
    .lien_transition{
      @extend %header;
        width: 300px;
        font-size: 25px;
        border-radius: 10px;
        cursor: default;
        transform: scale(1);
        transition: transform 500ms;
        padding-bottom: 10px;
         &:hover {
        transform: scale(1.2);
        
        }
    }
    
footer {
  @extend %header;
    margin-top: 50px;
    justify-content: space-between;
    height: 50px;
    position: sticky;
    top: 500px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    .lien_wiggle{
        font-size: 20px;
        height: 40px;
        text-align: justify;
        margin: 10px 10px 0px 10px;
    }
    
  } 
  .lien_wiggle:hover{
    animation: shake 1s;
    animation-iteration-count:infinite;
  }
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
    }
  @media screen and (max-width: 812px) {
  
    header {
      height: 75px;
      h1 {
      font-size: 40px;
      }
    }
    .menu{
        width: 100%;
        height: 100%;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    img {
      width: 90px;
      height: 110px;
      margin: 20px;

      
    }
    .lien_transition{
      height: auto;
      font-size: 15px;
        cursor: default;
        transform: scale(1);
        transition: transform 500ms;
         &:hover {
        transform: scale(1.2);

      }
    }
    footer{
      height: 50px;
    }

  }
     
