
@import './util/variables';
@import './util/mixin';
@import './layout/accueil';
@import './pages/index';
@import 'responsive.scss';

.page{
  @extend %flexbox
}

h2{
  text-align: center;
  font-size: 30px;
}

.container{
  font-family: cursive;
  margin-top: 45px;
  color: $color-secondary; 
}


table{
  color: $color-secondary;
  margin-top: 50px;
  margin-bottom: 50px;
}

.cell-text{
  text-align: justify;
  padding-left: 10px;
}

.col2{
  width: 75px;
  text-align: right;
  padding-right: 10px;

}



.la-note-enchantee{

  .container{
      background-color: #fcdfdb;
  }

  .titre{
      @extend %flexbox;
      flex-direction: column;
      align-items: center;
      height: 200px;
      margin-bottom: 60px;
      font-size: 30px;
  }

  img{
      width: 100px;
      margin: 0px 0px 5px;    
  }

  h3:after{
      @include underline($border-color:rgb(49, 48, 48));
  }
  
  h3:hover:after{
      transform: scaleX(1);
  } 

  .img_bas{
      @extend %flexbox;
      width: 100%;
      font-weight: bold;
      grid-column-start: span 2; 
   
      img{
          margin: 0px 0px 5px;
          width: 80px;
          height: 100px;
          margin-bottom: 90px;      
      }
      
      .undertitle{
          margin: 50px 0px 0px 0px;
      }
  }
}  


.le-chic-a-la-francaise{
  
  h2{
  @include gradient;
  }


  h3:after{
  @include underline;
  }   

  h3:hover:after{
  transform: scaleX(1);
  }

}

.le-delice-des-papilles{

  h2{
      @include gradient ( $color1:#3839FF 10%, $color2:#94D8FF 75%);
  }

  h3:after{
      @include underline($border-color: #799CFF);
  }   
  
  h3:hover:after{
      transform: scaleX(1);
  }
}

.la-palette-du-gout{
  

  h2{
      @include gradient ( $color1:#689F38 5%, $color2: #C5E1A5 95%);
      align-items: center;
  }

  h3:after{
      @include underline($border-color: #AED581);
  }   
  
  h3:hover:after{
      transform: scaleX(1);
  }

 
}

.mention-legal{

  .bloc{
    @extend %flexbox;
    color: $color-secondary;
    justify-content: space-between;
    text-align: justify;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  
  .logo{
    @extend %flexbox;
    width: 100%;
    text-align: center;
    color:$color-text;

  

  }

  .bloc2{
    margin: 30px 0px 40px 50px;
  }

  .bloc3{
    @extend .bloc2;
    margin-right: 40px;
  }

  

  .note{
    font-size: 10px;
    color: $color-secondary;
  }

  .mail{
    color: $color-primary;
  }
}


  
  
     
