.page-d-accueil img, .page-d-accueil .zoom {
  width: 200px;
  height: 250px;
}

.page-d-accueil .download, .page-d-accueil .ligne, .mention-legal .second-containt, .mention-legal .container, footer, header, .la-note-enchantee .img_bas, .la-note-enchantee .titre, .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.container {
  font-family: cursive;
  margin-top: 45px;
  color: black;
  width: 630px;
}
.container h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 75px;
  margin-bottom: 80px;
}

table {
  color: black;
  line-height: 20px;
  text-align: justify;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

tr {
  display: inline-block;
}
tr td {
  padding: 15px;
}

.cell-text {
  width: 450px;
}

.col2 {
  text-align: right;
  width: 250px;
}

hr {
  display: inline-block;
  background-color: black;
  height: 2px;
  width: 25%;
  vertical-align: middle;
}

.line-hover {
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
}

.la-note-enchantee .container {
  background-color: #fcdfdb;
}
.la-note-enchantee .titre {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  margin-top: 30px;
  margin-bottom: 60px;
}
.la-note-enchantee .titre h2 {
  margin-top: 25px;
}
.la-note-enchantee .image {
  width: 100px;
  margin: 10px 0px 5px;
}
.la-note-enchantee .line-hover:after {
  display: block;
  content: "";
  border-bottom: solid 3px #313030;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}
.la-note-enchantee .line-hover:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.la-note-enchantee .img_bas {
  width: 100%;
  font-weight: bold;
}
.la-note-enchantee .img_bas img {
  margin: 0px 0px 5px;
  width: 80px;
  height: 100px;
  margin-bottom: 90px;
}
.la-note-enchantee .img_bas .undertitle {
  margin: 50px 0px 0px 0px;
}

.le-chic-a-la-francaise .container {
  background-color: #fff5fe;
}
.le-chic-a-la-francaise h2 {
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #ce7d4d), color-stop(75%, #8f5bfe));
  background: linear-gradient(to right, #ce7d4d 25%, #8f5bfe 75%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.le-chic-a-la-francaise .brown {
  color: #c67412;
}
.le-chic-a-la-francaise .brown table {
  color: #c67412;
}
.le-chic-a-la-francaise .brown hr {
  background-color: #c67412;
  width: 24%;
  border-color: #c67412;
}
.le-chic-a-la-francaise .brown .line-hover:after {
  display: block;
  content: "";
  border-bottom: solid 3px #c67412;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}
.le-chic-a-la-francaise .brown .line-hover:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.le-chic-a-la-francaise .lightpurple {
  color: #a56799;
}
.le-chic-a-la-francaise .lightpurple table {
  color: #a56799;
}
.le-chic-a-la-francaise .lightpurple hr {
  background-color: #a56799;
  width: 30%;
  border-color: #a56799;
}
.le-chic-a-la-francaise .lightpurple .line-hover:after {
  display: block;
  content: "";
  border-bottom: solid 3px #a56799;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}
.le-chic-a-la-francaise .lightpurple .line-hover:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.le-chic-a-la-francaise .purple {
  color: #6e4ccc;
}
.le-chic-a-la-francaise .purple table {
  color: #6e4ccc;
}
.le-chic-a-la-francaise .purple hr {
  background-color: #6e4ccc;
  width: 28%;
  border-color: #6e4ccc;
}
.le-chic-a-la-francaise .purple .line-hover:after {
  display: block;
  content: "";
  border-bottom: solid 3px #6e4ccc;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}
.le-chic-a-la-francaise .purple .line-hover:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.le-delice-des-papilles .container {
  background-color: #FAFAFA;
}
.le-delice-des-papilles h2 {
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #022ddf), color-stop(75%, #2879c0));
  background: linear-gradient(to right, #022ddf 10%, #2879c0 75%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.le-delice-des-papilles .lightblue .line-hover:after {
  display: block;
  content: "";
  border-bottom: solid 3px #64b2f6;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}
.le-delice-des-papilles .lightblue hr {
  background-color: #64b2f6;
  width: 27%;
  border-color: #64b2f6;
}
.le-delice-des-papilles .lightblue .line-hover:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.le-delice-des-papilles .lightblue .line-hover:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.le-delice-des-papilles .blue .line-hover:after {
  display: block;
  content: "";
  border-bottom: solid 3px #2879c0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}
.le-delice-des-papilles .blue hr {
  background-color: #2879c0;
  width: 30%;
  border-color: #2879c0;
}
.le-delice-des-papilles .blue .line-hover:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.le-delice-des-papilles .blue .line-hover:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.le-delice-des-papilles .darkblue .line-hover:after {
  display: block;
  content: "";
  border-bottom: solid 3px #022ddf;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}
.le-delice-des-papilles .darkblue hr {
  background-color: #022ddf;
  width: 30%;
  border-color: #022ddf;
}
.le-delice-des-papilles .darkblue .line-hover:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.le-delice-des-papilles .darkblue .line-hover:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.la-palette-du-gout .container {
  background-color: #FAFAFA;
}
.la-palette-du-gout h2 {
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, #6bb953), color-stop(95%, #bff88b));
  background: linear-gradient(to right, #6bb953 5%, #bff88b 95%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.la-palette-du-gout .lightgreen .line-hover:after {
  display: block;
  content: "";
  border-bottom: solid 3px #bff88b;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}
.la-palette-du-gout .lightgreen hr {
  background-color: #bff88b;
  width: 36%;
  border-color: #bff88b;
}
.la-palette-du-gout .lightgreen .line-hover:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.la-palette-du-gout .green .line-hover:after {
  display: block;
  content: "";
  border-bottom: solid 3px #AED581;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}
.la-palette-du-gout .green hr {
  background-color: #AED581;
  width: 29%;
  border-color: #AED581;
}
.la-palette-du-gout .green .line-hover:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.la-palette-du-gout .darkgreen .line-hover:after {
  display: block;
  content: "";
  border-bottom: solid 3px #6bb953;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}
.la-palette-du-gout .darkgreen hr {
  background-color: #6bb953;
  border-color: #6bb953;
  width: 30%;
}
.la-palette-du-gout .darkgreen .line-hover:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #FBC02D;
  background-size: cover;
}
body header {
  background-color: #00897B;
}
body header a {
  color: #FBC02D;
  text-decoration: none;
}
body footer {
  background-color: #00897B;
}

header {
  width: 100%;
  height: 150px;
}
header h1 {
  font-size: 100px;
  height: 150px;
  width: auto;
  margin-top: 0px;
}

.lien {
  background-color: #00897B;
  color: #FBC02D;
  text-decoration: none;
}

footer {
  margin-top: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 500px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  -webkit-filter: drop-shadow(0 0 0.75rem #d4d0d0);
          filter: drop-shadow(0 0 0.75rem #d4d0d0);
}
footer .lien_wiggle {
  font-size: 20px;
  height: 40px;
  text-align: justify;
  margin: 10px 10px 0px 10px;
}

.lien_wiggle:hover {
  -webkit-animation: shake 1s;
          animation: shake 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@media screen and (max-width: 720px) {
  header {
    height: 75px;
  }
  header h1 {
    font-size: 40px;
  }

  .la-note-enchantee .titre {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .le-chic-a-la-francaise .brown hr {
    width: 19%;
  }

  .la-palette-du-gout .green hr {
    width: 28%;
  }
  .la-palette-du-gout .darkgreen hr {
    width: 29%;
  }

  .mention-legal .container {
    margin-top: 30px;
  }

  .page-d-accueil .ligne {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .page-d-accueil .ligne .zoom {
    height: 200px;
    width: 150px;
    margin: 10px;
  }
  .page-d-accueil .ligne .zoom a {
    height: 200px;
    width: 150px;
  }
  .page-d-accueil img {
    height: 200px;
    width: 150px;
  }
  .page-d-accueil .download .lien_transition {
    font-size: 20px;
    width: auto;
    height: auto;
  }
}
@media screen and (max-width: 540px) {
  h3, table {
    font-size: 13px;
    line-height: 15px;
  }

  .table {
    line-height: 15px;
  }

  tr td {
    width: 152px;
  }

  .cell-text {
    text-align: left;
    line-height: 20px;
  }

  .la-note-enchantee .line1 hr {
    width: 30%;
  }

  .le-chic-a-la-francaise .brown hr {
    width: 17%;
  }
  .le-chic-a-la-francaise .lightpurple hr {
    width: 25%;
  }
  .le-chic-a-la-francaise .purple hr {
    width: 23%;
  }

  .le-delice-des-papilles .lightblue hr {
    width: 24%;
  }
  .le-delice-des-papilles .blue hr {
    width: 26%;
  }
  .le-delice-des-papilles .darkblue hr {
    width: 26%;
  }

  .la-palette-du-gout .green hr {
    width: 26%;
  }
  .la-palette-du-gout .darkgreen hr {
    width: 27%;
  }

  .mention-legal .container {
    width: auto;
  }
}
.mention-legal .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
}
.mention-legal .second-containt {
  background-color: #FAFAFA;
}
.mention-legal .second-containt .bloc, .mention-legal .second-containt .bloc-1 {
  text-align: left;
  padding-left: 30px;
}
.mention-legal .second-containt .bloc-1 {
  margin-right: 40px;
}
.mention-legal .second-containt .note {
  font-size: 10px;
  color: black;
}
.mention-legal .second-containt .mail {
  color: #00897B;
}

.page-d-accueil .ligne {
  margin-top: 100px;
  margin-bottom: 50px;
}
.page-d-accueil .zoom {
  overflow: hidden;
  margin: 30px;
  -webkit-filter: drop-shadow(0 0 0.75rem lightgrey);
          filter: drop-shadow(0 0 0.75rem lightgrey);
}
.page-d-accueil .zoom a {
  display: inline-block;
}
.page-d-accueil img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}
.page-d-accueil img:hover {
  background-color: lightgrey;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  opacity: 0.4;
}
.page-d-accueil .download {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-d-accueil .download .lien_transition {
  text-align: left;
  font-size: 25px;
  border-radius: 15px;
  cursor: default;
  height: 30px;
  width: 250px;
  padding: 0px 25px 0px 50px;
}
.page-d-accueil .cercle {
  display: inline-block;
  background: #FBC02D;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  -webkit-animation: silde 1s linear 0.5s infinite;
          animation: silde 1s linear 0.5s infinite;
  vertical-align: center;
}
.page-d-accueil .cercle:nth-of-type(1) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.page-d-accueil .cercle:nth-of-type(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.page-d-accueil .cercle:nth-of-type(3) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}
@-webkit-keyframes silde {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes silde {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */