body{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: $color-text;
    background-size: cover;
    

    header{
        background-color: $color-primary; 
    }

    footer{
      background-color: $color-primary; 

    }
}

header {
  @extend %flexbox;
  width: 100%;
  height: 150px;
  
  
  h1{
    font-size: 100px;
    height: 150px;
    width: auto;
    margin-top: 0px;
    }
}

.lien{
    background-color: $color-primary;
    color:$color-text;
    text-decoration: none;
  }
  
  footer {
    @extend %flexbox;
      margin-top: 50px;
      justify-content: space-between;
      height: 50px;
      position: sticky;
      top: 500px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      filter: drop-shadow(0 0 0.75rem rgb(212, 208, 208));
      .lien_wiggle{
          font-size: 20px;
          height: 40px;
          text-align: justify;
          margin: 10px 10px 0px 10px;
      }
      
    } 
  
    .lien_wiggle:hover{
      animation: shake 1s;
      animation-iteration-count:infinite;
  
  
      @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
      }
  
    }