@media screen and (max-width: 720px){

  header {
    height: 75px;
  
    h1 {
      font-size: 40px;
    }
  }

  .la-note-enchantee{

    .titre{
      margin-top: 15px;
      margin-bottom: 30px;
    }
  }
  
  .le-chic-a-la-francaise{

    .brown{
       
      hr{
        width: 19%;
      }
    }

    
  }

  .la-palette-du-gout{

    .green{

      hr{
        width: 28%;
      }
    }

    .darkgreen{

      hr{
        width: 29%;
      }
    }
  }


  .mention-legal{

    .container{
      margin-top: 30px;
    }
  }
  
  .page-d-accueil{

    .ligne{
      margin-top: 70px;
      margin-bottom: 70px;

      .zoom{
        height: 200px;
        width: 150px;
        margin: 10px;
    
        a{
          height: 200px;
          width: 150px;
        }
      }
    }
  
    
  
    img{
      height: 200px;
      width: 150px;
    }
  
  
  
    .download{
  
      .lien_transition{
        font-size: 20px;
        width: auto;
        height: auto;
      }
  
    }
  
  }



}

@media screen and (max-width: 540px){

  
  h3, table{
      font-size: 13px;
      line-height: 15px;
  }

  .table{
      line-height: 15px;
  }

  tr{
  
      td{
          width: 152px;
      }
  }

  .cell-text{
      text-align: left;
      line-height: 20px;
  }

  .la-note-enchantee{
     
    .line1{
      hr{
        width: 30%;
      }
    }
    
  }

  .le-chic-a-la-francaise{

    .brown{
      
      hr{
        width: 17%;
      }
    }

    .lightpurple{

      hr{
      width: 25%;
      }
    }

    .purple{

      hr{
        width: 23%;

      }
    }
  }

  .le-delice-des-papilles{

    .lightblue{

      hr{
        width: 24%;
      }
    }

    .blue{

      hr{
        width: 26%;
      }
    }

    .darkblue{

      hr{
        width: 26%;
      }
    }
  }

  .la-palette-du-gout{

    .green{

      hr{
        width: 26%;
      }
    }

    .darkgreen{

      hr{
        width: 27%;
      }
    }
  }
  .mention-legal{

    .container{
      width: auto ;
    }

  }

}

