@media screen and (max-width: 812px) and (max-width:1024px){

  header {
    height: 75px;
  
    h1 {
      font-size: 40px;
    }
  }

  .la-note-enchantee{

    .titre{
      margin-top: 15px;
      margin-bottom: 30px;
    }

    h3::before, h3::after{
      @include line-decoration ($size: 10em);

    }

    ._size{

      h3::before, h3::after{
        @include line-decoration($size: 8em);
  
      }

    }

    ._size10{
      
      h3::before, h3::after{
        @include line-decoration($size: 7em);
  
      }
    }

  }
    
  .le-chic-a-la-francaise{

    .brown{
      h3::before, h3::after{
        @include line-decoration($light:$brown, $size:5em)
      }
    }

    .lightpurple{
      h3::before, h3::after{
        @include line-decoration($light:$lightpurple,$size:5.5em)
      }
    }

    .purple{
      h3::before, h3::after{
        @include line-decoration($light:$purple, $size:5em)
      }
    }

  }

  .le-delice-des-papilles{

    .lightblue{

      h3::before, h3::after{
        @include line-decoration ($light: $lightblue, $size: 7em);
      }

    }

    .blue{

      h3::before, h3::after{
        @include line-decoration ($light: $blue, $size: 7em);
      }

    }

    .darkblue{

      h3::before, h3::after{
        @include line-decoration ($light: $darkblue, $size: 7em);
      }

    }

  }
  
  .la-palette-du-gout{

  }

  .mention-legal{

    .container{
      margin-top: 30px;
      }
  }
  
    .page-d-accueil{

      .ligne{
        margin-top: 70px;
        margin-bottom: 70px;
      }
  
      .zoom{
        height: 200px;
        width: 150px;
        margin: 10px;
  
        a{
          height: 200px;
          width: 150px;
        }
      }
  
      img{
        height: 200px;
        width: 150px;
      }
  
  
  
      .download{
  
        .lien_transition{
          font-size: 20px;
          width: auto;
          height: auto;
        }
  
      }
  
    }



}

@media screen and (max-width: 570px){

  
  h3, table{
      font-size: 13px;
      line-height: 15px;
  }

  .la-note-enchantee{

    
    h3::before, h3::after{
      @include line-decoration($size:5em);
    }

  }


  .le-chic-a-la-francaise{
    
    .brown{

      h3::before{
        margin-right: 1.5em ;
      }

      h3::after{
        margin-left: 1.5em;
      }
    }
  }

  .le-delice-des-papilles{

    .lightblue{

      h3::before, h3::after{
        @include line-decoration($light: $lightblue);
      }

    } 

    .blue{

      h3::before, h3::after{
      @include line-decoration($light: $blue);
      }
      
    }

    .darkblue{

      h3::before, h3::after{
        @include line-decoration($light: $darkblue)
      }

    }

  } 

  .la-palette-du-gout{

    .lightgreen{

      h3::before, h3::after{
        @include line-decoration($light:$lightgreen, $size: 6em);
      }
    
    }

    .green{

      h3::before, h3::after{
        @include line-decoration($light: $green, $size: 4em);
      }

    }

    .darkgreen{

      h3::before, h3::after{
        @include line-decoration($light: $darkgreen, $size: 4em)
      }

    }

  }

  .table{
      line-height: 15px;
  }

  tr{
  
      td{
          width: 152px;
      }
  }

  .cell-text{
      text-align: left;
      line-height: 20px;
  }

  .mention-legal{

    .container{
      width: auto;
    }
    .bloc2, .bloc3{
      margin: 20px;
    }

  }

}

