.page{
    @extend %flexbox
}
  
.container{
  font-family: cursive;
  margin-top: 45px;
  color: $color-secondary; 
  width: 630px;

  h2{
    text-align: center;
    font-size: 30px;
    margin-top: 75px;
    margin-bottom: 80px;
  }

}

table{
  color: $color-secondary;
  line-height: 20px;
  text-align: justify;
  box-sizing: border-box;
  width: 100%
}
  
tr{
  display: inline-block;

  td{
    padding: 15px;
  }

}

.cell-text{
    width: 450px;
}

.col2{
    text-align: right;
    width: 250px;
    
}
  
hr{
  display: inline-block; 
  background-color: $color-secondary; 
  height: 2px;
  width: 25%;
  vertical-align: middle;
}

.line-hover{
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
}  

.la-note-enchantee{
  
    .container{
        background-color: #fcdfdb;
    }
  
    .titre{
        @extend %flexbox;
        flex-direction: column;
        align-items: center;
        height: 200px;
        margin-top: 30px;
        margin-bottom: 60px;
  
        h2{
          margin-top: 25px;
        }
    }
  
    .image{
        width: 100px;
        margin: 10px 0px 5px;    
    }
    
    .line-hover:after{
        @include underline($border-color:rgb(49, 48, 48));
    }
    
    .line-hover:hover:after{
        transform: scaleX(1);
    } 
  
    .img_bas{
        @extend %flexbox;
        width: 100%;
        font-weight: bold;

        img{
            margin: 0px 0px 5px;
            width: 80px;
            height: 100px;
            margin-bottom: 90px;      
        }
        
        .undertitle{
            margin: 50px 0px 0px 0px;
        }
    }
}  
   
.le-chic-a-la-francaise{
  
    .container{
      background-color: #fff5fe;
    }
    
    h2{
    @include gradient;
    }
  
    .brown{

      color: $brown;
      table{
        color: $brown;
      }

      hr{
        background-color: $brown;
        width: 24% ;
        border-color: $brown;
      }

      .line-hover:after{
        @include underline ($border-color: $brown);
        }   
      
        .line-hover:hover:after{
        transform: scaleX(1);
        }

    }
  
    .lightpurple{
      color: $lightpurple;
      table{
        color: $lightpurple;
      }

      hr{
        background-color: $lightpurple;
        width: 30% ;
        border-color: $lightpurple;
      }

      .line-hover:after{
        @include underline ($border-color: $lightpurple);
        }   
      
        .line-hover:hover:after{
        transform: scaleX(1);
        }
    }
  
    .purple{
      color: $purple;
  
      table{
        color: $purple;
      }

      hr{
        background-color: $purple;
        width: 28%;
        border-color: $purple;
      }

      .line-hover:after{
        @include underline ($border-color: $purple);
        }   
      
        .line-hover:hover:after{
        transform: scaleX(1);
        }

    }
  
}
  
.le-delice-des-papilles{
  
  .container{
    background-color: #FAFAFA;
  }
  
  h2{
    @include gradient ( $color1:#022ddf 10%, $color2:#2879c0 75%);
  }
  
  .lightblue{

    .line-hover:after{
      @include underline($border-color: $lightblue );
    }   
    
  hr{
    background-color: $lightblue;
    width: 27%;
    border-color: $lightblue;
  }

    .line-hover:hover:after{
      transform: scaleX(1);
    }
  
    .line-hover:hover:after{
      transform: scaleX(1);
    }
  }

  .blue{

    .line-hover:after{
      @include underline($border-color: $blue );
    }   
    
    hr{
      background-color: $blue;
      width: 30%;
      border-color: $blue;
    }

    .line-hover:hover:after{
      transform: scaleX(1);
    }
  
    .line-hover:hover:after{
      transform: scaleX(1);
    }
  }

  .darkblue{

    .line-hover:after{
      @include underline($border-color: $darkblue );
    }   
    
    hr{
      background-color: $darkblue;
      width: 30%;
      border-color: $darkblue;
    }

    .line-hover:hover:after{
      transform: scaleX(1);
    }
  
    .line-hover:hover:after{
      transform: scaleX(1);
    }
  }

}
  
.la-palette-du-gout{
    
  .container{
    background-color: #FAFAFA;
  }
  
  h2{
    @include gradient ( $color1: $darkgreen 5%, $color2: $lightgreen 95%);
    align-items: center;
  }
  
  .lightgreen{

    .line-hover:after{
      @include underline($border-color: $lightgreen);
    }   
    
    hr{
      background-color: $lightgreen;
      width: 36%;
      border-color: $lightgreen;
    }

    .line-hover:hover:after{
      transform: scaleX(1);
    }

  }
   
  .green{
    .line-hover:after{
      @include underline($border-color: $green);
    }   
    
    hr{
      background-color: $green;
      width: 29%;
      border-color: $green;
    }

    .line-hover:hover:after{
      transform: scaleX(1);
    }
  }

  .darkgreen{
    .line-hover:after{
      @include underline($border-color: $darkgreen);
    }   
    
    hr{
      background-color: $darkgreen;
      border-color: $darkgreen;
      width: 30%;
    }

    .line-hover:hover:after{
      transform: scaleX(1);
    }
  }


}