
.ligne{
  @extend %flexbox;
  margin-top: 100px;
  margin-bottom: 50px;
}
  
    .zoom{
      @extend %zoom;
      overflow: hidden;
      margin: 30px;
      filter: drop-shadow(0 0 0.75rem lightgrey);
    
      a{
        display: inline-block;
      }

    }
  
    img {
      @extend %zoom;
      transform: scale(1);
      transition: transform 500ms;
  
      &:hover{
        background-color: lightgrey;
        transform: scale(1.3);
        opacity: .4;
      }

    }
  
    .download{
      @extend %flexbox;
     
  
      .lien_transition{
          text-align: left;
          font-size: 25px; 
          border-radius: 15px;
          cursor: default;
        }

    }
  
  .cercle{
      display: inline-block;
      background: #575756;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      animation: silde 1s linear .5s infinite;
      vertical-align: center;
  
      &:nth-of-type(1) {
        animation-delay: 0.15s;
      }
  
      &:nth-of-type(2){
        animation-delay: 0.30s;
      }
  
      &:nth-of-type(3){
        animation-delay: .45s;
      }
   


        @keyframes silde{

            0%{
                transform: translateY(0);
                opacity: 1;
            }
  
            50%{
                transform: translateY(-10px);
                opacity: 0;
            }
        
            100%{
                transform: translateY(0);
                opacity: 1;
            }
        }

    }
