.mention-legal{

    .container{
        @extend %flexbox;
        flex-direction: column;
        width: auto;
    }

.second-containt{
    @extend %flexbox;
    background-color: #FAFAFA;

    .bloc{
        text-align: left;
        padding-left: 30px;
    }
  
    .bloc-1{
        @extend .bloc;
        margin-right: 40px;
    }
    
    .note{
        font-size: 10px;
        color: $color-secondary;
    }
  
    .mail{
        color: $color-primary;
    }

}

    



}  