$color-primary: #00897B;
$color-text: #FBC02D;
$color-secondary: black;
$brown:#c67412;
$lightpurple: #a56799;
$purple:#6e4ccc;
$lightgreen:#bff88b;
$green:#AED581;
$darkgreen: #6bb953;
$lightblue:#64b2f6;
$blue:#2879c0;
$darkblue:#022ddf;




%border{
  border: solid $color-primary 2px;
  border-radius: 20px;
}

%zoom{
  width: 200px;
  height: 250px;
}

%flexbox{
  display: flex;
  justify-content: center;
  text-align: center;
}

